#Database
DB_URL=
DB_PORT=

#Jwt
JWT_SECRET=
JWT_EXPIRE_IN=

#Refresh Token
REFRESH_JWT_SECRET=
REFRESH_JWT_EXPIRE_IN=

#Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_CALLBACK_URL=

#Account
ACCOUNT_TIME_BLOCK=
ACCOUNT_MAX_FAILED_ATTEMPS=

#API Key
SECRET_API_KEY=

#Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

#Stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=

#FE
CLIENT_URL=

# Redis
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

# Mails
MAILS_HOST=
MAILS_PORT=
MAILS_USER=
MAILS_PASS=
MAILS_FROM=