<div>
  <h1>Email Verification</h1>
  <p>
    Click this link to verify email: <a href="http://localhost:3000/api/v1/auth/email-verify?tokenId={{ tokenId }}&token={{ token }}" target="_blank">Click Here</a>
  </p>
</div>