<div>
  <h1>Reset Password</h1>
  <p>
    Go to this link and reset your password <a href="http://localhost:5173/api/v1/auth/reset-password?tokenId={{ tokenId }}&token={{ token }}" target="_blank">Click Here</a>
  </p>
</div>